h1 {
    font-family: "pressio", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    color: rgb(9, 148, 65);
    padding-top: 10%;
}

#wordDisplay {
    color: rgb(9, 148, 65);
}

#scoreboard {
    color:  rgb(9, 148, 65);
    font-size: 20px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 500;
    font-style: bold;
}

#guessBtn, #restartBtn, #difficulty-btn {
    font-family: "halcom", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrongLetters {
    font-size: 20px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 500;
    font-style: bold;
}

.easy { 
    background-color: #9df592;
    color: rgb(9, 148, 65);
    font-size: 30px;
    border: 2px solid rgb(9, 148, 65);
}

.medium {
    background-color: lightyellow;
    color: rgb(218, 203, 118);
    font-size: 30px;
    border: 2px solid rgb(218, 203, 118);
}

.hard {
    background-color: rgb(255, 118, 108);
    color: rgb(158, 44, 35);
    font-size: 30px;
    border: 2px solid rgb(158, 44, 35);
}


h3, #difficultyBox {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 500;
    font-style: bold;

}

main {
    margin: 20px;
    padding: 10px;
    background-color: rgb(138, 190, 160) ;
    border: solid 3px white;
    border-radius: 4px;
    margin-bottom: 10px;
}

body {
    background-color: rgb(33, 68, 43);
}